.ama{
    background-color: aquamarine;
    background-image: url(IMG_E9255.JPG);
}
.ama{
    justify-content: space-between;
    text-align: center;
}
.shan{
    background-color: lightcoral;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.boo{
    color: white;
}