.atu{background-color: aquamarine;
  text-align: center;
  background-image: url(IMG_E9255.JPG);
  color: white;
}
.shan{
    background-color: lightcoral;
  display: flex;  
 justify-content: space-between; 
 padding: 10px;
}
