.shan{
    background-color: lightcoral;
   display: flex; 
   justify-content: space-between;
   padding: 10px;
}
.big{
    background-color: aquamarine;
    background-image: url(IMG_E9255.JPG);
}