.ruthie{
    background-color: aquamarine;
    text-align: center;
}
.shan{
    background-color: lightcoral;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.girl{
    color: black;
}