.ruthie{
    background-color: rgb(81, 248, 192);
    text-align: center;
    background-image: url(IMG_E9255.JPG);
}
.shan{
    background-color: rgb(245, 149, 149);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.girl{
    color: black;
}